



.ints-ul {
    padding-left: 55px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}

    .ints-ul li {
        float: left;
        width: 100%;
        position: relative;
        line-height: 30px;
        list-style-type: none;
    }



.registration a:first-child {
    border-left: 0;
}

.menubar {
    float: left;
    width: 100%;
}

nav {
    float: left;
}

.menubar nav > ul {
    padding: 0;
    margin: 0;
}

    .menubar nav > ul > li {
        width: auto;
        letter-spacing: 0.3px;
        margin: 0;
        line-height: 0;
        padding: 0px;
    }



        .menubar nav > ul > li > a {
            margin: 0px 0px;
            padding: 15px 30px 15px 30px;
            font-size: 13.5px;
            color: #ffffff;
            border-right: 1px solid #77b81e;
            border-left: 1px solid #77b81e;
            text-decoration: none;
            display: inline-block;
            text-transform: capitalize;
            
            line-height: 20px;
            letter-spacing: 0px;
            font-weight: 600;
            border-radius: 0px;
            transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            -webkit-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            -o-transition: all 500ms ease;
        }

            .menubar nav > ul > li > a:hover {
                color: #000 !important;
                   
                transition: .3s ease;
            }

/*=============== Dropdown ===================*/
nav > ul ul {
    position: absolute;
    top: 100%;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    min-width: 220px;
    padding: 1px 0 0px 0px;
    border-bottom: 0px solid #fff;
    -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transform: translate3d(-15px, 15px, 0);
    -moz-transform: translate3d(-15px, 15px, 0);
    -o-transform: translate3d(-15px, 15px, 0);
    -ms-transform: translate3d(-15px, 15px, 0);
    transform: translate3d(-15px, 15px, 0);
}

    nav > ul ul li {
        font-size: 14px;
        font-weight: 500;
        padding: 0 0px;
        text-transform: capitalize;
        letter-spacing: normal;
        display: table;
        font-weight: 400;
    }

        nav > ul ul li:before {
            display: none;
        }

        nav > ul ul li a {
            padding: 5px 15px;
            float: left;
            width: 100%;
            color: #000;
            
            font-size: 14px;
            background: #fff;
            
            font-weight: 400;
            font-size:13.5px;
        }

            nav > ul ul li a:hover {
                color: #77b81e;
                background: #fff;
            }

        nav > ul ul li:last-child > a {
            border: 0;
        }

nav > ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

nav > ul ul ul {
    left: 100%;
    top: 0;
    background: #f5f5f5;
    min-width: 215px;
    box-shadow: none;
}

    nav > ul ul ul li a {
        border: 0;
    }

nav > ul ul li.has-children:before {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -10px;
    font-family: fontawesome;
    font-size: 14px;
    color: inherit;
}
/*=============== Responsive Header ===================*/
.responsive-header {
    float: left;
    width: 100%;
    position: relative;
    z-index: 9999999;
    display: none;
}

    .responsive-header .topbar {
        padding: 15px;
    }

        .responsive-header .topbar:after,
        .responsive-header .topbar:before {
            display: none;
        }

        .responsive-header .topbar span {
            margin-right: 20px;
        }

.responsive-logobar {
    float: left;
    width: 100%;
    text-align: center;
    padding: 0px 2px;
    border-bottom: 0px solid #192838;
}

.responsive-logo {
    float: left;
}

.menu-button {
        float: right;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 39px;
    color: #6d815c;
    font-size: 27px;
    position: absolute;
    right: -4px;
    top: -100px;
    border: 1px solid #6d815c;
}

    .menu-button:hover {
        color: #FEFDF8;
        border: 1px solid #FEFDF8;
    }

.responsive-menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 70%;
    height: 100%;
    opacity: 0;
    background: #05396b;
    box-shadow: 0 0 4px 1px rgba(0,0,0,.1);
    overflow: auto;
    -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

    .responsive-menu.slidein {
        left: 0;
        opacity: 1;
    }

    .responsive-menu ul {
        float: left;
        width: 100%;
        padding: 0 5px;
        margin: 0;
    }

        .responsive-menu ul li {
            float: left;
            width: 100%;
            border-bottom: 1px solid #6d815c;
            margin: 0;
            line-height: unset;
            list-style-type: none;
        }

            .responsive-menu ul li:before {
                display: none;
            }

            .responsive-menu ul li a {
                float: left;
                width: 100%;
                color: #fff;
                padding: 10px 0px 10px 15px;
                position: relative;
                
                font-weight: normal;
                text-transform: capitalize;
                font-size: 12px;
            }

            .responsive-menu ul li.menu-item-has-children > a:before {
                content: "\f067";
                position: absolute;
                right: 10px;
                top: 10px;
                width: 10px;
                height: 10px;
                color: #f6f6f6;
                font-family: fontawesome;
                font-size: 15px;
            }

            .responsive-menu ul li ul {
                display: none;
                padding-left: 20px;
                background: rgba(0,0,0,0.1);
            }

            .responsive-menu ul li:last-child {
                border: 0;
            }

.close-menu {
    float: right;
    color: #FFF;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    margin: 26px 20px 20px 20px;
    background: rgba(31,43,59,0.92);
    font-size: 26px;
    border-radius: 0px;
}

a {
    text-decoration: none !important;
}

/*------------------------Midea-----------------------------------*/
@media (max-width:980px) {
    header {
        display: none!important;
    }

    .responsive-header {
        display: block;
    }
}

@media (max-width:767px) {

    .responsive-header .topbar span {
        float: none;
        display: inline-block;
        margin: 0 6px;
    }

    .responsive-header .topbar {
        text-align: center;
    }
}

/*-----------------------------Color--------------------------------------*/
.button.active,
.selectors-inner a.active,
.course-bar span,
.prog-icon span,
.event-btn,
.widget .about-widget li span,
.edu-gallery,
.pagination li a:hover,
.pagination li a.active,
.share-post > a:hover,
.reply,
.tagcloud > a:hover,
.course-price,
.touch ul li span,
.layer4,
.menu-button,
.close-menu,
.toggle-item > h2:before,
.transparent-socials a:hover {
    /*background-color: #01a9e9;*/
}

a:hover,
a:active,
a:focus,
.topbar span > i,
ul li:before,
.title span,
.button:hover,
.explore-edu h2 i,
.tab-content span,
.parallax-title i,
.parallax-title span,
.side-title h2 i,
.side-title span,
.staff-detail span,
.event-date span,
.event-description > i,
.loc,
.post-detail span,
.widget-title h5 i,
.widget-title span,
.widget li a:hover i.fa,
.widget .about-widget li,
.bottom-footer p a,
.edu-service i,
.edu-detail > i,
.options li a.selected,
.breadcrumbs li,
.column-title i,
.column-title h2 span,
.date > span,
.sub-title,
.detail-page .meta li.meta-tags a,
.author-detail > h5,
.simple-title h2 span,
.simple-title > i,
.comment-name > i,
.post-inner > span,
.sidebar .widget li:hover > a,
.video-widget > span,
.course-info > span,
.author-detail > span,
.author-detail > h4 i,
.event-intro-details > i,
.member-intro-description > span,
.personal-info li,
.touch ul li p strong,
.layer1,
.layer2 span,
.layer6,
.simple-parallax-title > h2 span,
.error-page > h1,
.search-result > h5 span {
    color: #01a9e9;
}

    .button:hover,
    .course-bar span:before,
    .course-bar span:after,
    .course-price:before,
    .course-price:after,
    .event-btn:hover,
    .options li a.selected:before,
    .sidebar .widget li:hover:after,
    .layer4 {
        border-color: #fff;
    }